---
import IndexLayout from "../../layouts/indexLayout.astro";
import Headerprincipal from "../../components/Headerprincipal.astro";

---
<IndexLayout titlePage="About">
    <Headerprincipal />
    <h1>About Page</h1>
</IndexLayout>