---
import IndexLayout from "../layouts/indexLayout.astro";

import Card from "../components/Card.astro";
import Headerprincipal from "../components/Headerprincipal.astro";
import Footer from "../components/Footer.astro";

---
<IndexLayout titlePage="Home">
   
    <Headerprincipal  />
    <main class="p-3">
        <div class="container mx-auto md:w-5/6 my-10 ">
            <Card 
            titulo="Emmanuel Heredia"
            descripcion="Este es mi camino hacia la libertad..."
            />
        </div>
    </main>
    
</IndexLayout>
