---
import '../css/styles.css'
import Footer from '../components/Footer.astro'
interface Props{
    titlePage:string
}
const {titlePage} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/favicon.svg">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Astro - {titlePage}</title>
  </head>
  <body class="font-mono bg-gray-900 ">
    <slot />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <Footer githubURL="https://github.com/herediiaa"
    instagramURL="https://www.instagram.com/herediiaa.e/" 
    twitterURL="https://twitter.com/Emmanue99751725" />
  </body>
</html>
